<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Name: <%=bakedGoods.name %></h2>
    <h3>Price: <%=bakedGoods.price %></h3>

    <img src="<%=bakedGoods.image; %>"/>
    <p><a href="/bakedgoods"><- Back</a></p>

</body>
</html>